# ---------------------------------------------------------------------------- #
# Required Variables
# ---------------------------------------------------------------------------- #

main_project_id = "YOUR_GCP_PROJECT_ID" # Replace with your GCP Project ID
region          = "us-central1"         # Replace with your desired GCP region for resources like KMS
geolocation     = "us"                  # Replace with the desired location for Discovery Engine resources (e.g., "us", "eu")

# ---------------------------------------------------------------------------- #
# Data Store Configurations
# ---------------------------------------------------------------------------- #

# Example GCS Data Stores
# Add the names of the GCS buckets you want to create and connect to Gemini Enterprise.
# Each name will result in a new GCS bucket and a new Data Store.
# Modify the example below to suit your needs:
gcs_data_store_names = [
  "internal-documents",
  "public-website-content",
]

# Example BigQuery Data Stores
# Add objects to this list to define BigQuery datasets and tables to be created
# and connected to Gemini Enterprise via Data Connectors.
# Each object requires:
#   - dataset_id: The ID for the BigQuery Dataset to be created.
#   - table_id:   The ID for the BigQuery Table to be created within the dataset.
# Modify the example below to suit your needs:
bq_data_store_configs = [
  {
    dataset_id = "wiki"
    table_id   = "pages"
  },
  {
    dataset_id = "products"
    table_id   = "details"
  },
]