project_id             = "project"
region                 = "us-east4"
database_version       = "POSTGRES_14"
database_instance_tier = "db-g1-small"
database_name          = "postgres"
network_name           = "test-spoke-0"       # Must already exist
subnetwork_name        = "default-us-east4"   # Must already exist
landing_project_id     = "xxxx-net-host"
iac_core_project_id    = "xxxx-iac-core-0"
firewall_source_range  = ["192.168.1.0/24"]
firewall_name          = "allow-postgres"
keyring                = "keyring"            # Must already exist
key                    = "default"            # Must already exist