project_id          = "YOUR-PROJECT-ID"
access_policy_title = "test-policy-title"
region              = "us-east4"
organization_id     = "YOUR-ORGANIZATION-ID"
domain              = "domain.com"
access_levels = [
  {
    name = "accessPolicies/<ACCESS-POLICY-ID>/accessLevels/<NAME OF ACCESS POLICY>"

    description = "An example access level"
    conditions = [
      {
        ip_subnetworks = ["203.0.113.0/24"]  # CANNOT BE A PRIVATE IP ADDRESS
        members        = ["user:YOUR-EMAIL"]
        negate         = false
        device_policy = {
          require_screen_lock = true
        }
        regions = ["US"]
      }
    ]
  }
]
service_perimeters = [
  {
    name        = "accessPolicies/<ACCESS-POLICY-ID>/servicePerimeters/<NAME_OF_PERIMETER_SERIVCE>"
    description = "An example service perimeter"
    status = {
      restricted_services = ["storage.googleapis.com"]
      resources           = ["projects/YOUR-PROJECT-NUMBER"]
    }
  }
]