tenants = {
  tenant_name = { ## change this
    admin_principal  = "group:gcp-devops@domain"
    descriptive_name = "tenant_name"
    locations = {
      gcs = "us-east4"
      kms = "us-east4"
    }
  },
   tenant_name-2 = { ## change this
    admin_principal  = "group:gcp-devops@domain"
    descriptive_name = "tenant_name-2"
    locations = {
      gcs = "us-east4"
      kms = "us-east4"
    }
  }
}

fast_features = {
  envs = true
}

envs_folders = {
  Prod = {
    admin = "gcp-organization-admins@domain.com"
  },
  Int = {
    admin = "gcp-organization-admins@domain.com"
  },
  Test = {
    admin = "gcp-organization-admins@domain.com"
  }
}
