project_id    = "project-id"
instance_name = "bigtable-test-5"
cluster_id    = "bigtable-test-5"
num_nodes     = 3
region        = "us-east4"
zone          = "us-east4-a"
key_name      = "projects/project_id/locations/us-east4/keyRings/keyring-name/cryptoKeys/keyname"

