main_project_id    = "xxxx-xxxx-xxxx-main-0"
core_project_id    = "xxxx-xxxx-xxxx-iac-core-0"
network_project_id = "xxxx-xxxx-net-host"

dataproc_cluster_name = "dataproc-cluster-00"
dataproc_bucket_name  = "dataproc-bucket-00"

network_name    = "xxxx-spoke-0"
subnetwork_name = "default-us-east4"
firewall_name   = "allow-dataproc"

kms_keyring_name = "xxxx-xxxx-keyring"
kms_key_name     = "default"

region = "us-east4"
