# -----------------------------------------------------------------------------
# Required Variables
# -----------------------------------------------------------------------------
main_project_id    = "YOUR-MAIN-PROJECT-ID"
domain             = "example.com"
network_project_id = "YOUR-NETWORK-PROJECT-ID"
region             = "us-central1" # Example region

# See README for how to get these values
access_policy_number = 123456789012
oauth_brand_number   = 123456789012

network_name    = "default" # VPC network name
subnetwork_name = "default" # Subnet name in the region

# Required for Google Workspace Group Management
google_workspace_customer_id = "YOUR-WORKSPACE-CUSTOMER-ID"
admin_user_email             = "user:your-admin@example.com"
admin_group_email            = "gcp-agentspace-admins@example.com"
user_group_email             = "gcp-agentspace-users@example.com"

# -----------------------------------------------------------------------------
# Optional Variables
# -----------------------------------------------------------------------------
# default_backend = "main-app"
# net_project        = null # Defaults to network_project_id if not set
# prefix = "cnap"
# company_name = "My Company"
# gcs_label_environment = "dev"
# agent_space_gcs_bucket_name = "your-bucket-name"
# geolocation = "us"

# ids_name = "cnap-ids"
# ids_private_ip_prefix_length = 24
# machine_type = "n2d-highcpu-2"
# packet_mirroring_policy_name = "cnap-packet-mirror"
# severity = "MEDIUM"
# subnetwork_list = null
