project_id = "the-project-id"
email      = "the-email-address"
# Provide the name to be given to the Computer Engine Service Account.
compute_service_account_id = "computeso"
auto_delete                = true
keyring = {
  location = "us-east4"
  name     = "name-of-keyring"
}
location               = "us-east4"
zone                   = "us-east4-a"
instance_name          = "instance-name"
instance_type          = "e2-standard-4"
ip_cidr_range          = "10.0.1.0/24"
source_ranges_allowed  = ["10.0.1.0/24", "0.0.0.0/0"]
allowed_firewall_ports = ["80", "22", "443"]
keys = {
  "key-so" = {
    rotation_period            = "7776000s"
    destroy_scheduled_duration = "2592000s"
    labels = {
      "team" = "so-team"
    }
    purpose                       = "ENCRYPT_DECRYPT"
    skip_initial_version_creation = false
    version_template = {
      algorithm        = "GOOGLE_SYMMETRIC_ENCRYPTION"
      protection_level = "SOFTWARE"
    }
    lifecycle = {
      prevent_destroy = true
    }
  }
}
