project_id            = "my-il5-repo"

email                 = "test@email.com"

bucket_name           = "my-bucket"

dataflow_service_account_id = "dataflow-user"

keyring = {
  location = "us-east4"
  name     = "my-keyring"
}

keys = {
  "default" = {
    rotation_period            = "7776000s"
    destroy_scheduled_duration = "2592000s"
    labels = {
      "team" = "update-label-team"
    }
    version_template = {
      algorithm        = "GOOGLE_SYMMETRIC_ENCRYPTION"
      protection_level = "HSM"
    }
    iam = {
      "roles/cloudkms.cryptoKeyEncrypterDecrypter" = ["user:test@email.com"]
    }
    lifecycle = {
      prevent_destroy = true
    }
  }
}
