project_id                  = "my-sample-project"
location                    = "us-east4"
email                       = "email@google.com"
bucket_name                 = "sample-bucket"
dataflow_service_account_id = "dataflow-user"
dataflow_name               = "dataflow-pubsub-to-bigquery-job"
zone                        = "us-east4-c"
template_gcs_path           = "gs://dataflow-templates-us-east4/latest/PubSub_to_BigQuery"
dataset_id                  = "my-sample-dataset-id"
network_name                = "my-sample-network" # must already exist
subnet_name                 = "my-sample-subnet" # must already exist
subnet_ip                   = "192.168.0.0/24" # must be valid
pubsub_topic_name           = "my-sample-topic"
pubsub_subscription_name    = "my-sample-subscription"
temp_gcs_location           = "gs://my-sample-bucket/temp"
allowed_persistence_regions = ["us-east4"]
keyring = {
  location = "us-east4"
  name     = "keyring-dataflow-job"
}
keys = {
  "key-dataflow-job" = {
    rotation_period            = "7776000s"
    destroy_scheduled_duration = "2592000s"
    labels = {
      "team" = "update-label-team"
    }
    version_template = {
      algorithm        = "GOOGLE_SYMMETRIC_ENCRYPTION"
      protection_level = "HSM"
    }
    lifecycle = {
      prevent_destroy = true
    }
  }
}
storage_class     = "STANDARD"
prefix            = "dev"
input_topic       = "projects/my-sample-project/topics/topic"
output_table      = "my-sample-project.my-sample-dataset-id.sample-table"
bigquery_table_id = "sample-table"