project_id             = "my-project"
region                 = "us-east4"
database_version       = "POSTGRES_14"
database_instance_tier = "db-g1-small"
database_name          = "postgres"
network_name           = "default"
