access_policy_number = 292441290220
billing_account      = "016DA5-A23BC8-4809E6"
default_backend      = "easy"
domain               = "frh.darkwolf.rocks"
net_project          = "frh-int-net-host"
network              = "int-spoke-0"
oauth_brand_number   = 427920232807
organization         = 852046277713
project              = "frh-int-tod-main-0"
region               = "us-east4"
subnet               = "int-dev"