BILLING_ACCOUNT=012345-67890-12345
BOOTSTRAP_PROJECT_ID=bootstrap-project
COMPLIANCE_REGIME=FEDRAMP_HIGH
DIRECTORY_CUSTOMER_ID=012345678
DEPLOYER_EMAIL_ADDRESS=user@stellarengine.dev
FULLY_QUALIFIED_DOMAIN_NAME=stellarengine.dev
LOGGING_ALERTS_EMAIL_ADDRESS=user@stellarengine.dev
ORGANIZATION_ID=012345678912
PREFIX=pre
REGION=us-east4
AW_REGION=us-east4
TENANT_NAME=test
