organization_id = "xxxxxxxxxxxx"

main_project_id = "xxxx-xxxx-xxxx-main-0"

policy_title        = "policy-00"
oauth_client_id     = "xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com"
oauth_client_secret = "xxxxxx-xxxxxxxxxxxx-xxxxxxxxxxxxxxx"
iap_user_email      = "user:<IAP-USER-EMAIL>"
endpoint_name       = "accessPolicies/<ACCESS-POLICY-ID>/accessLevels/ACCESS-POLICY-NAME>" # Access Policy Must already exist
region              = "us-east4"