project_id = "my-project-id"

location   = "us-east4"

keys = {
    name = "my-keys"
    }

 keyring = {
    name     = "my-key-ring"
  }

allowed_persistence_regions = ["us-east4"]

pubsub_topic_name = "pb_topic"

email = "email@gmail.com"

publisher_name = "publisher-service-account"

publisher_account_id = "publisher"

subscriber_account_id = "subscriber"

subscriber_name = "subscriber-service-account"

pubsub_subscription_name = "pb-subscription"
