project_id = "my-project-id"
keys = {
     "default" = {
      destroy_scheduled_duration    = null
      rotation_period               = null
      labels                        = null
      purpose                       = "ENCRYPT_DECRYPT"
      skip_initial_version_creation = false
      version_template = {
        algorithm        = "GOOGLE_SYMMETRIC_ENCRYPTION"
        protection_level = "SOFTWARE"
      }

      iam                   = {}
      iam_bindings          = {}
      iam_bindings_additive = {}
    }
}

iam_roles_members = {
  owner  = [
    "user:owner1@gmail.com",
    "user:owner2@gmail.com",
     "user:owner3@gmail.com",
  ],
  viewer = [
    "user:editor1@gmail.com",
    "user:editor2@gmail.com",
    "user:editor3@gmail.com",
    "user:editor4@gmail.com"
  ],
  editor = [
    "user:viewer1@gmail.com",
    "user:viewer2@gmail.com",
     "user:viewer3@gmail.com",
      "user:viewer4@gmail.com"
  ]
}
admin_members = "user:admin1@gmail.com"

service_account_email = "service-account-email@gmail.iam.gserviceaccount.com"

pubsub_subscription_name = "my-pubsub-subscription-name"

pubsub_topic_name = "my-pubsub-topic-name"