project_id = "your-project-id"
region     = "us-east4"
policies = {
  "policy-one" = {
    region      = "us-east4"
    description = "This is a policy."
  }
  "policy-two" = {
    region      = "us-east4"
    description = "This is another policy."
  }
}
rules = [
  {
    region      = "us-east4"
    policy      = "policy-one"
    description = "Example rule."
    priority    = 100
    match = {
      versioned_expr = "SRC_IPS_V1"
      config = {
        src_ip_ranges = ["10.0.0.0/8"]
      }
    }
    action  = "allow"
    preview = true
  },
  {
    region      = "us-east4"
    policy      = "policy-one"
    description = "Rule with WAF"
    priority    = 101
    match = {
      expr = {
        expression = "evaluatePreconfiguredWaf('xss-stable')"
      }
    }
    preconfigured_waf_config = [
      {
        exclusion = [
          {
            request_uri = [
              {
                operator = "STARTS_WITH"
                value    = "/admin"
              }
            ]
            target_rule_set = "rce-stable"
          },
          {
            request_query_param = [
              {
                operator = "CONTAINS"
                value    = "password"
              },
              {
                operator = "STARTS_WITH"
                value    = "freeform"
              },
              {
                operator = "EQUALS"
                value    = "description"
              }
            ]
            target_rule_set = "xss-stable"
            target_rule_ids = [
              "owasp-crs-v030001-id941330-xss",
              "owasp-crs-v030001-id941340-xss"
            ]
          }
        ]
      }
    ]
    action  = "deny(403)"
    preview = true
  },
  {
    region      = "us-east4"
    policy      = "policy-two"
    description = "Example with rate limits."
    priority    = 90
    match = {
      versioned_expr = "SRC_IPS_V1"
      config = {
        src_ip_ranges = ["10.0.0.0/8"]
      }
    }
    rate_limit_options = {
      rate_limit_threshold = {
        count        = 40
        interval_sec = 10
      }
      conform_action = "allow"
      exceed_action  = "deny(429)"
    }
    action  = "throttle"
    preview = true
  }
]