main_project_id    = "xxxx-xxxx-xxxx-main-0"
network_project_id = "xxxx-xxxx-net-host"

region      = "us-east4"

kms_keyring_name = "xxxx-xxxx-keyring" # Must already exist

network_name    = "xxxx-spoke-0"       # Must already exist
subnetwork_name = "default-us-east4"   # Must already exist
