region               = "us-east4"
project              = "my-cnap-project"
default_backend      = "easy"
domain               = "my.project.domain"
oauth_brand_number   = 123456789123
access_policy_number = 123456789123
network              = "int-spoke-0"
landing_project_id   = "prefix-int-net-host"
prefix               = "snap"