main_project_id    = "xxxx-xxxx-xxxx-main-0"
network_project_id = "xxxx-xxxx-net-host"

composer_env_name = "composer-env-name-00"
network_name      = "projects/<NETWORK-PROJECT-ID>/global/networks/xxxx-spoke-0"
subnetwork_name   = "projects/<NETWORK-PROJECT-ID>/regions/us-east4/subnetworks/default-us-east4"
region            = "us-east4"
