project_id             = "my-repository"

image                  = "projects/cos-cloud/global/images/family/cos-stable"

allowed_firewall_ports = ["80", "22", "443"]

instance_name          = "sample-bastion"

disk_name              = "data-disk"

zone                   = "us-east4-a"

my_vpc                 = "my-vpc"

kms_key_self_link      = "projects/my-project/locations/my-location/keyRings/my-keyring/cryptoKeys/my-key"

keyring = {
  location = "us-east4"
  name     = "my-keyring"
}

keys = {
  "default" = {
    destroy_scheduled_duration    = null
    rotation_period               = null
    labels                        = null
    purpose                       = "ENCRYPT_DECRYPT"
    skip_initial_version_creation = false
    version_template = {
      algorithm        = "GOOGLE_SYMMETRIC_ENCRYPTION"
      protection_level = "HSM"
    }
    iam                   = {}
    iam_bindings          = {}
    iam_bindings_additive = {}
  }
}

email = "ashley.siddiqui@darkwolfsolutions.com"

group_email  =  ["email-name1@gmail.com",
                "email-name2@gmail.com"]

my_subnet     = "subnet-tnbsea-ashley"

ip_cidr_range              = "10.0.0.0/24"

compute_service_account_id = "compute-one"

allowed_source_ranges = [
  "0.0.0.0/0",
  "192.168.1.0/24"
]
